<template>
<div>GGFEIIEFNFE SHFEUEFIN EFUN efunieuf nseifun siefu
soeifnieosfnse o
sefoief seo</div>
</template>

<script>
    export default {
        name: "Start.vue"
    }
</script>

<style scoped>

</style>
